.parent {
    overflow: hidden;
}

.child {
    float: left;
}

.child {
    text-align: center;
    line-height: 40px;
    width: 250px;
    height: 320px;
    background-color: lightgrey;
    margin: 10px;
}