.card {
    width: 280px;
    height: 400px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* transition: transform 0.3s; */
}

/* .card:hover {
    transform: scale(1.1);
} */
.book {
    display: flex;
    flex-wrap: wrap;
}

.card .front,
.card .back {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.card .front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .back {
    display: none;
}

.card.flipped .front {
    display: none;
}

.card.flipped .back {
    display: flex;
}

.card.flipped .back .container {
    display: flex;
}

.card.flipped .back .left {
    width: 60%;
    height: auto;
    border-color: black;
}

.card.flipped .back .right {
    width: 30%;
    display: flex;
    flex-direction: column;
    border-color: black;
}

.card.flipped .back .right img {
    width: 100%;
    height: auto;
}

/* 共通設定 */
h1 {
    text-align: center;
    background-color: red;
    color: white;
    font-weight: bold;
}

#button {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

#button #button_2 {
    height: 40px;
    width: 220px;
    margin: 10px;
    text-align: center;
    background-color: lightblue;
}

form .button_left {
    justify-content: left;
    height: 80px;
    width: 150px;
    margin: 10px;
    text-align: center;
}

form .button_right {
    justify-content: right;
    height: 80px;
    width: 150px;
    margin: 10px;
    text-align: center;
}

.card #name, .card.flipped #name {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    display: inline-block;
}